algorithms/.idea
algorithms/.vscode/
algorithms/__pycache__
instances/cities_big_instances
results/ILPvsVNS/compose.py
results/ILPvsVNS/composeVNS.py
results/ILPvsVNS/compose.xlsx
results/ILPvsVNS/composeVNS.xlsx
*.aux
*.bbl
*.blg
*.out
*.pdf
*.synctex(busy)
*.gz
*.log
