algorithms/.idea
algorithms/.vscode/
algorithms/__pycache__
algorithms/new
algorithms/old
results/test
results/VNS_test
results/reimplBS
results/test
results/comparison_old.xlsx
instances/cities_big_instances
instances/random_instances
*.aux
*.bbl
*.blg
*.out
*.pdf
*.synctex(busy)
*.gz
*.log
