algorithms/.idea
algorithms/results/test
algorithms/__pycache__
algorithms/test.py
algorithms/results/VNS_test
algorithms/cities_big_instances
algorithms/stepen.py
algorithms/distance.py
algorithms/model_estimator.py
algorithms/test_speed.py
doc/gecco_2023_poster.aux
doc/gecco_2023_poster.bbl
doc/gecco_2023_poster.blg
doc/gecco_2023_poster.log
doc/gecco_2023_poster.out
doc/gecco_2023_poster.pdf
doc/gecco_2023_poster.synctex(busy)
doc/gecco_2023_poster.synctex.gz
algorithms/.vscode/
*.log